@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body { 
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article ads"
      "footer footer footer";
    grid-template-rows: 80px 1fr 70px;  
    grid-template-columns: 20% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    color: whitesmoke;
    }  
  header, footer, article, nav, div {
    padding: 1.2em;
    background: #03001c;
    }
  #pageHeader {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    }
  #pageFooter {
    grid-area: footer;
    }
  #mainArticle { 
    grid-area: article;      
    }
  #mainNav { 
    grid-area: nav; 
    }
  #siteAds { 
    grid-area: ads; 
    } 
  /* Stack the layout on small devices/viewports. */
  @media all and (max-width: 575px) {
    body { 
      grid-template-areas: 
        "header"
        "article"
        "ads"
        "nav"
        "footer";
      grid-template-rows: 80px 1fr 70px 1fr 70px;  
      grid-template-columns: 1fr;
   }
  }

* {
    margin: 0;
    padding: 0;
}

header {
    
}

header ul {
    display: flex;
}